.banner{
	width:280px;
	height: 300px;
	border: 2px solid black;
	margin: auto;
	
	background-size: 100% 100%;
	
	animation: banner 12s infinite;	
}
	@keyframes banner{
		0%, 20% {
			background-image:url(../img/Unad.jpg);
		}
		
		25%, 45% {
			background-image:url(../img/Edificio.jpg);
		}
		50%, 70%{
			background-image:url(../img/Gestion.jpg);
		}
		
		75%, 100%{
			background-image:url(../img/Colombia.jpg);
		}
		
	}
	
	
