/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(255,255,255);
}

h1{
font-family: 'Angsana New', cursive;
color: rgb(255,255,255);
margin-left: 10px;
font-size: 30px;
text-align: center; 
}

h2{
font-family: 'Angsana New', cursive;
color: black;
margin-left: 10px;
font-size: 35px;
text-align: left; 
}

h3{
font-family: 'Angsana New', cursive;;
color: black;
font-size: 20px;
text-align: left; 
}


header{
	width: 1000px;
	height: 180px;
	background: rgb(255, 255, 255);
	border-top-style: Inset;
	border-Bottom-style: Inset;
	border-Right-style: Inset;
	border-Left-style: Inset;
}

nav{
width: 1000px;
height: 200px;
color: rgb(255,255,255);
border-radius: 10px;
border-top-style: Inset;
border-Bottom-style: Inset;
background-image: url(../img/UnadFondo.PNG);


}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background-color: rgb(0,102,128);
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 
	border-top-style: Inset;
	border-Bottom-style: Inset;
	border-Right-style: Inset;
	border-Left-style: Inset;

}

section{
	font-family: 'Angsana New', cursive;
	font-size: 30px;
	width: 700px;
	background: White;
	height: 600px;
	float: left;
	margin-top: 1px;
	color: rgb(0,0,0);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-style: Inset;
	border-Bottom-style: Inset;
	border-Right-style: Inset;
	border-Left-style: Inset;
}
aside{

	width: 280px;
	background: white;
	height: 600px;
	float: left;
	margin-left: 2px;
	margin-top: 1px;
	border-radius: 10px;
	border-top-style: Inset;
	border-Bottom-style: Inset;
	border-Right-style: Inset;
	border-Left-style: Inset;
	background-repeat: no-repeat;
	background-size: cover;

}

footer{
width: 1000px;
height: 95px;
background: white;
float: left;
color: rgb(0,0,0);
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
border-top-style: Inset;
border-Bottom-style: Inset;
border-Right-style: Inset;
border-Left-style: Inset;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/

















